.navbar-right {
    float: right;
}

.navbar-left {
    float: left;
}

.likes-div {
    background-color: rgb(231,23,57);
    color: whitesmoke;
    border-radius: 5px;
}

.likes-button {
    background-color: rgb(231,23,57);
    color: whitesmoke;
    border-radius: 5px;
    border-color: transparent;
}

.image-profile {
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;    
}